@use "bootstrap/scss/bootstrap" as *;

header,
footer {
    background-color: black;
    height: 70px;
}

.card-text {
    color: blueviolet;
}

.btn,
main {
    background-color: blueviolet;
}

.another-color {
    background-color: hotpink;
    color: black;
}